/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/
h1, form {
  display: inline;
}
header {
  background:#FFDBAA;
  margin-top: -20px;
  padding-bottom: 60px;
  padding-top:40px;

}
h1 {
  font-size: xx-large;
  font-family: 'Segoe UI';
  color: #553100;
  margin: 50px;
}
.buttons {
  position: relative;
  background: #805215;
  color:white;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-family: 'Segoe UI';
  font-size: x-large;
  border: none;
}
.buttonsheader {
  position: relative;
  background: #805215;
  color:white;
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-family: 'Segoe UI';
  font-size: x-large;
  border: none;
  margin-left: 30px;

}
.buttonsheaderparent {
  float:right;
  margin-right:120px;
}
h2 {
  text-align: center;
  margin: 0;
  font-size:x-large;
}
article {
  width:300px;
  padding:10px;
  margin: 0;
  margin-top: 20px;
  background:white;
  font-family: 'Segoe UI';
  font-size: large;
}
.column {
  display: flex;
  justify-content: space-around;
}
body {
  background:#D4A76A;
  margin: 0;
}
footer {
  width:90%;
  padding:10px;
  background:white;
  margin:auto;
  margin-top: 20px;
  font-family: 'Segoe UI';
  font-size:x-large;
}
