/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/
h1, form {
  display: inline;
}
header {
  text-align: center;
  background:#FFDBAA;
  margin-top: -20px;
  float:top;

}
.buttons {
  position: relative;
  background: #805215;
  color:white;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
h2 {
  text-align: center;
  margin: 0;
}
article {
  width:300px;
  padding:10px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin: 0;
  margin-top: 20px;
  background:white;
}
.column {
  display: flex;
  justify-content: space-around;
}
body {
  background:#D4A76A;
  margin: 0;
}