/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/
h1, form {
  display: inline;
}
header {
  text-align: center;
}
.buttons {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
article {
  width:fit-content;
  padding:auto;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin: 0;
}